Dockerfile
.pre-commit-config.yaml
LICENSE*
README.md
.github
koroonakaart/dist
koroonakaart/node_modules
koroonakaart/src/data/data.json
data/data.json
data/hospitalization.json
data/test_locations.json
data/test_results.json
data/vaccinations.json
data/*.tmp
