.idea/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

.directory

koroonakaart/src/data/*.json
koroonakaart/report.html
data/hospitalization.json
data/test_locations.json
data/test_results.json
data/vaccinations.json
*.tmp
