<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Koroonakaart — Statistika koroonaviiruse leviku kohta Eestis</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap-4.4.1/bootstrap.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="css/main-v001.css">
    <!-- Set viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!-- TopoJSON -->
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-et-latest.js"></script>
    <script src="javascript/plotly-locale-et-modified.js"></script>
    <!-- Vue.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
    <!-- Web fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://koroonakaart.ee/">

    <!-- Meta data -->
    <meta name="description" content="Statistika koroonaviiruse leviku kohta Eestis">
    <meta property="og:title" content="Eesti koroonakaart">
    <meta property="og:description" content="Statistika koroonaviiruse leviku kohta Eestis">
    <meta property="og:site_name" content="Koroonakaart">
    <meta property="og:locale" content="et_ET">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/map_static.png">
    <meta property="og:image:width" content="6320">
    <meta property="og:image:height" content="500">
    <meta property="og:url" content="https://koroonakaart.ee/">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86124786-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-86124786-3');
    </script>

<!-- Responsive map styling -->
<style scoped>
    #map_prevalence {
        width: 600px;
        height: 500px;
    }

    #legend {
        height: 25px;
        width: 100%;
    }

    @media (max-width: 600px) {
        #map_prevalence {
        width: 100%;
        height: 400px;
        }
    }
    </style>

</head>
<body>
    <div id="wrapper">
        <!-- Header bar -->
        <nav class="navbar navbar-dark fixed-top bg-inverse" id="navbar">
            <span class="navbar-brand">
                <span id="navbar_title_left">Koroona</span><span id="navbar_title_right">kaart</span>
            </span>
            <span class="navbar-text" id="last_updated">
                <p>Uuendatud: <span id="last_updated_break"><br></span>19. märtsil 2020 kell 13:00</p>
            </span>
                <!-- TODO: Enable translations in Russian and English -->
<!--                 <span class="navbar-text" id="language-selector">
                <p>Eesti ▼</p> -->
<!--             </span>
 -->        </nav>

        <!-- Page content -->
        <div class="container-fluid mt-2" id="content" v-cloak>

            <div class="card mx-auto" id="disclaimer">
                <p><span id="disclaimer_headline">Statistika koroonaviiruse põhjustatud COVID-19 haiguse leviku kohta Eestis. Andmed pärinevad <a href="https://www.terviseamet.ee/et/uuskoroonaviirus" target="_blank" rel="noopener"> Terviseametist.</a></span></p>
                <p><a href="https://www.terviseamet.ee/et/uuskoroonaviirus">Mis on koroonaviirus?</a></p>
                <p>Rakendust haldab <a href = "https://okee.ee/" target = "_blank" rel = "noopener">OKEE</a> ja ei ole seotud Terviseametiga.</p>
                <p style="text-align: center;">Lisafunktsionaalsuse ideed oodatud GitHub'i — <a href="https://github.com/okestonia/koroonakaart/issues" target ="_blank" rel="noreferrer">https://github.com/okestonia/koroonakaart/issues</a></p>
            </div>

            <!-- Navigation tabs -->
<!--             <ul class="nav nav-tabs" style="padding-left: 45px">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#prevalence">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#economics">General information</a>
                </li>
            </ul>
 -->
            <!-- Tab content -->
            <div class="tab-content" style="border-top: 1px solid #dee2e6">
                <div id="demographics" class="tab-pane active">
                    <div class="row" style="place-content: center;" id="headline_row">
                        <!-- Headline numbers -->
                        <div class="card col-sm-6 col-md-4 col-xl-2 headline_number_card">
                            <p>Kinnitatud haigusjuhud<br>
                            <span class="headline_number">{{ overview_confirmed }}</span></p>
                        </div>
                        <div class="card col-sm-6 col-md-4 col-xl-2 headline_number_card">
                            <p>Aktiivsed haigusjuhud<br>
                            <span class="headline_number">{{ overview_active }}</span></p>
                        </div>
                        <div class="card col-sm-6 col-md-4 col-xl-2 headline_number_card">
                            <p>Haiglaravil<br>
                            <span class="headline_number">{{ overview_in_treatment }}</span></p>
                        </div>
                        <div class="card col-sm-6 col-md-4 col-xl-2 headline_number_card">
                            <p>Hukkunud<br>
                            <span class="headline_number">{{ overview_deaths }}</span></p>
                        </div>
                        <div class="card col-sm-6 col-md-4 col-xl-2 headline_number_card">
                            <p>Tervenenud<br>
                            <span class="headline_number">{{ overview_recovered  }} </span></p>
                        </div>
                        <div class="card col-sm-6 col-md-4 col-xl-2 headline_number_card">
                            <p>Tehtud teste<br>
                            <span class="headline_number">{{ overview_tests_done }}</span></p>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1rem">
<!-- Column containing map -->
<div class="col-12 col-xl-6">
<div>
<!--Details-->
<!-- <div id="map_prevalence_zoom_level_selector">
<label class="btn">
    <input type="radio" name="options" @change="changeMap()" v-model="zoomLevel" value="county"> Maakond
</label><br>
<label class="btn">
    <input type="radio" name="options"  @change="changeMap()" v-model="zoomLevel" value="municipality"> Omavalitsus
</label>
</div>
 --><!-- Map -->
<svg id="map_prevalence"></svg>
<div id="map_prevalence_legend">
<div style="margin-top: 25px">
    <svg id="legend"></svg>
</div>
</div>
</div>
</div>
<!-- Statistics for the selected region -->
<div class="col-12 col-sm-6 col-xl-3" id="regional_statistics">
<h1>{{ current_place_name }}</h1>

<p><b>Haigusjuhud</b></p>

<p>Kinnitatud: {{ current_place_confirmed }}<span v-show="current_place_confirmed_percent > 0"> ({{ current_place_confirmed_percent }}% rahvaarvust)</span><br>
<!-- Aktiivsed: info puudub <br>
Haiglaravil: info puudub <br>
Hukkunud: info puudub <br>
Tervenenud: info puudub  -->
</p>

<!-- <p><b>Testimised</b></p>
<p>Teste tehtud Eestis: {{ overview_tests_done }}<br></p> -->
<!-- Unique individuals tested: Ootame terviseamtei andmeid</p> -->

<!-- <p><b>Info rahvastiku kohta</b></p>

<p>Rahvaarv: {{ current_place_population }}<br> -->
</p>
</div>
<div class="card chart_card col-12 col-sm-6 col-xl-3">
<h2>Kinnitatud haigusjuhud maakonniti</h2>
<div id="region_graph"></div>
</div>
</div>

                    <!-- Other charts -->
                    <div class="row">
                        <div class="card chart_card col-lg-6" id="chart_cumulative_cases">
                            <h2>Kumulatiivsed haigusjuhud</h2>
                            <div id="case_graph"></div>
                        </div>
                        <div class="card chart_card col-lg-6" id="chart_cases_by_day">
                            <h2>Uusi juhtumeid päevas</h2>
                            <div id="cases_day_graph"></div>
                        </div>
                    </div>

                    <!-- Daily tests -->
                    <div class="row">

                        <div class="card chart_card col-lg-6" id="chart_cumulative_tests">
                            <h2>Kumulatiivsed testid</h2>
                            <div id="tests_graph"></div>
                        </div>
                        <div class="card chart_card col-lg-6" id="chart_tests_by_day">
                            <h2>Teste päevas</h2>
                            <div id="daily_tests_graph"></div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Age Charts -->
                        <div class="card chart_card col-lg-6" id="age_graph_total">
                            <h2>Positiivsete testide vanuseline jaotus</h2>
                            <div id="age_graph"></div>
                        </div>
<!--                         <div class="card chart_card col-lg-12" id="age_graph_total">
                            <h2>Positiivsete testide vanuseline jaotus</h2>
                            <div id="age_graph"></div>
                        </div>
 -->                    </div>

                </div>
            </div>
        </div>

        <footer class="page-footer font">
          <div class ="footer py-3">
            <p>Created as part of the Garage48 Hack the Crisis hackathon, March 2020. COVID-19 data from press releases of <a href="https://www.terviseamet.ee" >Estonian Health Board</a>. Administrative and settlement data: <a href="https://github.com/buildig/EHAK">Estonian Land Board</a>, version 20180901. Demographic data: <a href="https://www.stat.ee/">Statistics Estonia</a>.</p>
          </div>
        </footer>
    </div>

    <!-- JavaScript required for Bootstrap. See: https://getbootstrap.com/docs/4.1/getting-started/introduction/#quick-start)  -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

    <!-- Other JavaScript -->
    <script src="javascript/vue_app.js"></script>
    <script src="javascript/visualisation.js"></script>
    <script src="javascript/chartvis.js"></script>

</body>
</html>
