<!DOCTYPE html>
<html>
<head>
    <title>Koroonakaart</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap-4.4.1/bootstrap.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Set viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!-- TopoJSON -->
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-et-latest.js"></script>
    <script src="https://cdn.plot.ly/plotly-locale-ru-latest.js"></script>

    <!-- Vue.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
    <!-- Web fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <!-- Header bar -->
        <nav class="navbar navbar-dark fixed-top bg-inverse" id="navbar">
            <span class="navbar-brand"><h4>Koroonaviirus Eestis</h4></span>
            <span class="navbar-text mx-a">
                <p>Statistika COVID-19 viiruse leviku kohta Eestis · Uuendatud: 13. märtsil 2020 kell 17:32 · <a href="https://www.terviseamet.ee/et/uuskoroonaviirus" style="color: #fff !important">Mis on koroonaviirus?</a></p>
            </span>
            <span class="navbar-text" id="language-selector">
                <!-- TODO: Enable translations in Russian and English -->
                <p><!-- 🌐  -->Eesti ▼</p>
            </span>
        </nav>

        <!-- Page content -->
        <div class="container-fluid mt-2" id="content">

            <div class="card col-md-8 mx-auto" id="data_warning">
                <p><span style="font-size: 2.4rem; font-weight: 500; line-height: 1.5;">Hoiatus! Andmed on ebatäpsed. Lehte arendadakse aktiivselt.</span></p>
                <!-- TODO: Mention the fact that the source of the data is Terviseamet somewhere, perhaps in the footer.
                    <p>Allolev informatsioon põhineb Eesti Vabariigi Terviseameti andmetel, mida uuendatakse uute andmete saabumisel.</p> -->
            </div>

            <!-- Navigation tabs -->
<!--             <ul class="nav nav-tabs" style="padding-left: 45px">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#prevalence">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#economics">General information</a>
                </li>
            </ul>
 -->
            <!-- Tab content -->
            <div class="tab-content" style="border-top: 1px solid #dee2e6">
                <div id="demographics" class="tab-pane active">
                    <div class="row" style="place-content: center;" id="headline_row">
                        <!-- Headline numbers -->
                        <div class="card col-md-2 headline_number_card">
                            <p>Kinnitatud haigusjuhte<br>
                            <span class="headline_number">135</span></p>
                        </div>
                        <div class="card col-md-2 headline_number_card">
                            <p>Aktiivseid haigusjuhte<br>
                            <span class="headline_number">134</span></p>
                        </div>
                        <div class="card col-md-2 headline_number_card">
                            <p>Hukkunuid<br>
                            <span class="headline_number">0</span></p>
                        </div>
                        <div class="card col-md-2 headline_number_card">
                            <p>Tervenenuid<br>
                            <span class="headline_number">1 </span></p>
                        </div>
                        <div class="card col-md-2 headline_number_card">
                            <p>Tehtud teste<br>
                            <span class="headline_number">971</span></p>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1rem">
                        <!-- Column containing map -->
                        <div class="col-6" style="padding-left: 20px;">
                            <div style="width: 600px" class="mx-auto">
                                <!--Details-->
                                <div id="map_prevalence_zoom_level_selector">
                                    <label class="btn">
                                        <input type="radio" name="options" @change="changeMap()" v-model="zoomLevel" value="county"> Maakond
                                    </label><br>
                                    <!-- <label class="btn">
                                        <input type="radio" name="options"  @change="changeMap()" v-model="zoomLevel" value="municipality"> Omavalitsus
                                    </label> -->
                                </div>
                                <!-- Map -->
                                <svg id="map_prevalence" width="600" height="500"></svg>
                                <div id="map_prevalence_legend">
                                    <div style="margin-top: 25px">
                                        <svg id="legend" style="height: 25px"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Statistics for the selected region -->
                        <div class="col-md-3" style="padding-left: 50px">
                            <h1>{{ current_place_name }}</h1>

                            <p><b>Haigusjuhud</b></p>

                            <p>Kinnitatud: {{ current_place_confirmed }}<br>
                            Aktiivsed: Ootame terviseamtei andmeid<br>
                            Haiglas: Ootame terviseamtei andmeid<br>
                            Hukkunud: Ootame terviseamtei andmeid<br>
                            Tervenenuid: Ootame terviseamtei andmeid</p>

                            <p><b>Testimised</b></p>

                            <p>Teste tehtud: Ootame terviseamtei andmeid<br></p>
                            <!-- Unique individuals tested: Ootame terviseamtei andmeid</p> -->

                            <p><b>Info rahvastiku kohta</b></p>

                            <p>Rahvaarv: TODO<br>
                            </p>
                        </div>
                        <div class="card chart_card col-md-3">
                            <h2>Kinnitatud haigusjuhud maakonniti</h2>
                            <div id="region_graph"></div>
                        </div>
                    </div>

                    <!-- Other charts -->
                    <div class="row">
                        <div class="card chart_card col-md-6" style="padding-right: 3rem">
                            <h2>Kumulatiivsed haigusjuhud</h2>
                            <div id="case_graph"></div>
                        </div>
                        <div class="card chart_card col-md-6" style="padding-left: 3rem">
                            <h2>Uus juhtumeid päevas</h2>
                            <div id="cases_day_graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>Created as part of the Garage48 Hack the Crisis hackathon, March 2020. Administrative and settlement data: <a href="https://github.com/buildig/EHAK">Estonian Land Board</a>, version 20180901. Demographic data: <a href="https://www.stat.ee/">Statistics Estonia</a>.</p>
        </footer>
    </div>

    <!-- JavaScript required for Bootstrap. See: https://getbootstrap.com/docs/4.1/getting-started/introduction/#quick-start)  -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

    <!-- Other JavaScript -->
    <script src="javascript/vue_app.js"></script>
    <script src="javascript/visualisation.js"></script>
    <script src="javascript/chartvis.js"></script>

</body>
</html>
