@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=cyrillic");

html,
body {
  font-family: "Roboto", sans-serif;
}

/* #app {
  font-family: "Roboto", sans-serif;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
} */
